*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;        
    }

html, body {
    height: 100%;
    /*margin: 0;
    padding: 0;
    text-align: center;*/
    font-family: 'Roboto', sans-serif;        
    }

.container {
    width: 90%;
    margin: 0 auto;
    padding: 10px;
    overflow: none;        
}
#map {
        height: 100%;
    }
header, h1 {
        font-family: 'Nanum Pen Script', cursive;    
    }  

.app-header {
        background-image: url("../assets/img/");  /* picutre not loading */
        box-shadow: 3px 3px 10px #888;
        text-align: center;
        justify-content: center;
        padding: 15px 10px;
    }
.btn-box {
    justify-content: center;
    text-align: center;
    padding-top: 35px;
    box-shadow: 3px 3px 10px #888;
    
}

.btn-box, h3{
    justify-content: center;
    text-align: center;
    padding-top: 35px;
    padding-bottom: 25px;
    font-family: 'Nanum Pen Script', cursive;    
}

.btn-meal{
    /*button to be styled on color scheme*/
}

.sub-header {
    display: flex;
    flex-direction: column;
    font-family: 'Nanum Pen Script', cursive;
    text-align: center;
    justify-content: center;
    padding: 15px 10px;
    font-size: 140%;
}

.grid {
    display: grid;
    grid-template-columns: 1fr; /* adding another 1fr for media queries */
    grid-gap: 10px;
    font-family: 'Nanum Pen Script', cursive; 
}

.grid .item {
    display: flex;
    flex-direction: column;
    padding-left: 5px;
    padding-right: 5px;
    box-shadow: 2px 2px 4px #888;    
}

.grid .item img{
    width: 100%;
}
     
#description {
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    }

      #infowindow-content .title {
        font-weight: bold;
      }

      #infowindow-content {
        display: none;
      }

      #map #infowindow-content {
        display: inline;
      }

      .pac-card {
        margin: 10px 10px 0 0;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
        background-color: #fff;
        font-family: Roboto;
      }

      #pac-container {
        padding-bottom: 12px;
        margin-right: 12px;
      }

      .pac-controls {
        display: inline-block;
        padding: 5px 11px;
      }

      .pac-controls label {
        font-family: Roboto;
        font-size: 13px;
        font-weight: 300;
      }

      #pac-input {
        background-color: #fff;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        margin: 5px;
        padding-top: 5px;
        padding-right: 5px;
        padding-left: 5px;  
        text-overflow: ellipsis;
        width: 50%;
        text-align: center;
        justify-content: center;
      }

      #pac-input:focus {
        border-color: #4d90fe;
      }

      #title {
        color: #fff;
        background-color: #4d90fe;
        font-size: 25px;
        font-weight: 500;
        padding: 6px 12px;
      }
      #target {
        width: 345px;
      }
  