*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;        
    }

html, body {
    height: 100%;   
    }

body{
    font-family: 'Roboto', sans-serif; 
    display: flex;
    flex-direction: column;       
}

.bkgrd1 {
    background: url(../img/lemonlove.png);
    background-repeat:no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.content {
    flex: 1 0 auto;
}

.container {
    width: 90%;
    margin: 0 auto;
    padding: 10px;
    overflow: none;        
}
#map {
        height: 100%;
    }
header, h1 {
        font-family: 'Nanum Pen Script', cursive;  
        color: rgb(253, 246, 232);  
    }  

.app-header {
        background-image: url("../assets/img/");  /* picutre not loading */
        background-color: rgb(169, 236, 169);
        box-shadow: 3px 3px 10px #888;
        text-align: center;
        justify-content: center;
        padding: 15px 10px;
    }
.btn-box {
    justify-content: center;
    text-align: center;
    padding-top: 35px;
    box-shadow: 3px 3px 10px #888;
    
}

.btn-box, h3{
    justify-content: center;
    text-align: center;
    padding-top: 35px;
    padding-bottom: 25px;
    font-family: 'Nanum Pen Script', cursive;    
}

.btn-meal{
    /*button to be styled on color scheme*/
    padding: 20px;
    border-radius: 30px;
    background-color: rgb(229, 137, 210, 0.4);
    color: grey;
    font-weight: 700;
    border: 1px grey solid;    
}

.btn-meal:hover {
  background-color: rgb(229, 137, 210, 0.8);
  color: white;
  cursor: pointer;
}

.sub-header {
    display: flex;
    flex-direction: column;
    font-family: 'Nanum Pen Script', cursive;
    text-align: center;
    justify-content: center;
    padding: 15px 10px;
    font-size: 140%;
}

.grid {
    display: grid;
    grid-template-columns: 1fr; /* adding another 1fr for media queries */
    grid-gap: 10px;
    font-family: 'Nanum Pen Script', cursive; 
    font-weight: bold;
    font-size: 120%;
    color:rgba(0, 0, 0, 0.7)
}

.grid .item {
    display: flex;
    flex-direction: column;
    padding-left: 5px;
    padding-right: 5px;
    box-shadow: 2px 2px 4px #888;    
}

.grid .item img{
    width: 100%;
}

.grid ul li{   
    padding-left: 30px;
    padding-top: 5px;
    padding-bottom: 5px;      
    /*align-items: center;*/
    /*list-style: none; */
}

.grid ul:first-child {
    padding-top: 15px;
}

     
#description {
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    }

      #infowindow-content .title {
        font-weight: bold;
      }

      #infowindow-content {
        display: none;
      }

      #map #infowindow-content {
        display: inline;
      }

      .pac-card {
        margin: 10px 10px 0 0;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
        background-color: #fff;
        font-family: Roboto;
      }

      #pac-container {
        padding-bottom: 12px;
        margin-right: 12px;
      }

      .pac-controls {
        display: inline-block;
        padding: 5px 11px;
      }

      .pac-controls label {
        font-family: Roboto;
        font-size: 13px;
        font-weight: 300;
      }

      #pac-input {
        background-color: #fff;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        margin: 5px;
        padding-top: 5px;
        padding-right: 5px;
        padding-left: 5px;  
        text-overflow: ellipsis;
        width: 50%;
        text-align: center;
        justify-content: center;
      }

      #pac-input:focus {
        border-color: #4d90fe;
      }

      #title {
        color: #fff;
        background-color: #4d90fe;
        font-size: 25px;
        font-weight: 500;
        padding: 6px 12px;
      }
      #target {
        width: 345px;
      }


.app-footer {
    background-color: rgb(130, 255, 130);    
    color: rgb(253, 246, 232); ;
    padding: 10px;    
    margin-top: 10px;
    flex-shrink: 0;
}

.app-footer ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
}

.app-footer:hover {  
  cursor: pointer;
}

.app-footer ul li{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.app-footer ul li i {
    font-size: 130%;
    color: rgb(253, 246, 232); ;
}

@media(min-width: 768px){
    /*change grids in here for larger screens later*/
}