*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;        
    }
html, body {
    height: 100%; 
    margin: 0;  
    }
body{
    font-family: 'Roboto', sans-serif; 
    display: flex;
    flex-direction: column;       
}
.bkgrd1 {
    background: url(../img/lemonlove.png);
    background-repeat:no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
.bkgrd3 {
    background: url(../img/lemonlove2.jpg);
    background-repeat:no-repeat;
    background-size: cover;
    background-attachment: scroll;
    background-position: center;
}
.bkgrd2 { 
    background-color: rgba(156, 240, 139, 0.6);
    max-width: 600px;
    border-radius: 20px;       
}
.content {
    flex: 1 0 auto;
}
/*----- for map----*/
.content1 {
    min-height: 100%
}

.container {
    width: 90%;
    margin: 0 auto;
    padding: 10px;
    overflow: none;        
}

header, h1 {
        font-family: 'Nanum Pen Script', cursive;  
        color: rgb(253, 246, 232);    
        font-size: 180%;      
    }  
header, h1, a{
    text-decoration: none;
    color: rgb(128, 128, 128);  
}
.app-header {        
        background-color: rgb(169, 236, 169);
        box-shadow: 3px 3px 10px #888;
        text-align: center;
        justify-content: center;
        padding: 15px 10px;
    }
.app-header-map {        
        background-color: rgb(169, 236, 169);
        box-shadow: 3px 3px 10px #888;
        text-align: center;
        justify-content: center;
        padding: ;
    }
.btn-box {
    justify-content: center;
    text-align: center;
    padding-top: 35px;
    box-shadow: 3px 3px 10px #888;    
}
.btn-box, h3{
    justify-content: center;
    text-align: center;
    padding-top: 35px;
    padding-bottom: 25px;
    font-family: 'Nanum Pen Script', cursive;  
    font-size: 140%;
    color: rgb(128, 128, 128);  
}
.btn-meal i {
    font-size: 600%;
    color: rgb(90, 92, 100);    
    background-color: rgb(0, 0, 0, 0);    
}
.btn-meal {
    background-color: rgb(0, 0, 0, 0);
    border: none;
}
.btn-meal:hover {  
  cursor: pointer;
}
.sub-header {
    display: flex;
    flex-direction: column;
    font-family: 'Nanum Pen Script', cursive;
    text-align: center;
    justify-content: center;
    padding: 15px 10px;
    font-size: 140%;
}
.grid, .grid2 {
    display: grid;
    grid-template-columns: 1fr; /* adding another 1fr for media queries */
    grid-gap: 10px;
    font-family: 'Nanum Pen Script', cursive; 
    font-weight: bold;
    font-size: 120%;    
}
#recipe-instruction{
    background-color: rgba(0, 0, 0, 0.1);
    font-size: 110%;
    line-height: 1.4;
}

#recipe-vid iframe{
    min-height: 400px;
}

#recipe-image img {
    max-height: 500px;
}


/*-----------------------------------------media for all grids----------------*/
@media(min-width: 1000px) {
    .grid {    
    grid-template-columns: 1fr 1fr; 
    }    
    .btn-box, .sub-header,
    .grid {
    width: 65%;   
    margin-left: 15%;
    }
    #recipe-image{
        max-width: 1000px;  
        justify-content: center;      
    }
    #recipe-ingred{
        text-align: center;     
    }
    #recipe-ingred{
        min-height: auto; 
    }    
}
.grid .item {
    display: flex;
    flex-direction: column;
    padding-left: 5px;
    padding-right: 5px;
    box-shadow: 2px 2px 4px #888;    
}
.grid .item img{
    width: 100%;
}
.grid ul li{   
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;      
    /*align-items: center;*/
    list-style: none;
}
.grid2 ul li{   
    padding-left: 30px;
    padding-top: 5px;
    padding-bottom: 5px;      
    /*align-items: center;*/
    list-style: none;
}



/*------MAP----------*/     
#description {
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    }
#infowindow-content .title {
        font-weight: bold;
      }
#infowindow-content {
        display: none;
      }
#map #infowindow-content {
        display: inline;
      }
#map {
    height: 65%;
    flex: flex: 1 0 auto;    
}

/*-------------------------------map media-----------------*/
/*@media(min-width: 680px) {
    #map {
    height: 70%; 
    width: 70%;   
    left: 15%;
}
}*/
.pac-card {
        margin: 10px 10px 0 0;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
        background-color: #fff;
        font-family: Roboto;
      }
#pac-container {
        padding-bottom: 12px;
        margin-right: 12px;        
      }
.pac-controls {
        display: inline-block;
        padding: 5px 11px;
      }
.pac-controls label {
        font-family: Roboto;
        font-size: 13px;
        font-weight: 300;
      }
#pac-input {
        /*--search--*/
        background-color: rgb(228, 248, 174);
        font-family: Roboto;
        font-size: 15px;        
        font-weight: bold;
        margin: 10px;
        padding-top: 10px;
        padding-right: 10px;
        padding-left: 5px;
        padding-bottom: 5px;  
        text-overflow: ellipsis;
        width: 50%;
        text-align: center;
        justify-content: center;        
      }
#pac-input:focus {
        border-color: #4d90fe;
      }
#title {
        color: #fff;
        background-color: #4d90fe;
        font-size: 25px;
        font-weight: 500;
        padding: 6px 12px;
      }
#target {
        width: 345px; /*--search bar--*/        
      }
/*---------notepad-----------*/
.np-marker {
    font-family: 'Permanent Marker', cursive;
    color: blue;   
}
.all-tasks, .todo-list, form{
    align-content: center;
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    color: blue; 
}
.all-tasks h2 {
    padding-top: 25px;
}
.todo-body {
    padding-bottom: 35px;
}
.all-tasks {    
    padding-top: 15px;    
    }
.new-list {
    background-color: rgb(222, 248, 174);
        font-family: 'Permanent Marker', cursive;
        color: blue;
        font-size: 15px;        
        font-weight: bold;
        margin: 10px;
        padding-top: 10px;
        padding-right: 10px;
        padding-left: 5px;
        padding-bottom: 5px;  
        text-overflow: ellipsis;
        width: 50%;
        text-align: center;
        justify-content: center;
}
.btn-list, .btn-ingdt {
    font-size: 130%;
    color: blue;
    background-color: rgb(248, 241, 174, 0.1);
    border: none;    
    font-weight: bolder;    
}
.btn-list:hover, .btn-ingdt:hover,
.btn-delete:hover{
    cursor: pointer;
}
.btn-delete {
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(8, 8, 8, 0.6);
    color: rgba(255, 255, 255, 0.6);
    font-weight: 500;
    border: none;  
}
[type="checkbox"]{
    opacity: 0;
    position: absolute;
}
.custom-checkbox {
    display: inline-block;
    height: 0.75em;
    width: 0.75em;
    cursor: pointer;
    border: 2px solid blue;
    border-radius: 50%;
    margin-right: 5px;
    transform: scale(1);
    transition: transform 300ms ease-in-out;
}
.task:hover .custom-checkbox,
[type="checkbox"]:focus + label .custom-checkbox {
    transform: scale(1.2);
    cursor: pointer;    
}
[type="checkbox"]:checked + label .custom-checkbox{
    background: blue;
}
.new-task-creator .form{
    padding-bottom: 20px;
}
/*----------notepad media-------------*/
@media(min-width: 1200px) {
    .all-tasks {    
    padding-top: 15px;
    }
    .todo-list {    
    padding-top: 25px;
    }        
    #recipe-image{
        max-width: 1000px;  
        justify-content: center;      
    }
    #recipe-ingred{
        text-align: center;     
    }

    #recipe-ingred{
        min-height: auto; 
    }    
}
/*-----------footer-----------*/
.app-footer {
    background-color: rgb(130, 255, 130);    
    color: rgb(128, 128, 128);  
    padding: 10px;    
    margin-top: 10px;
    flex-shrink: 0;
}
.app-footer ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
}
.app-footer:hover {  
  cursor: pointer;
}
.app-footer ul li{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.app-footer ul li i {
    font-size: 130%;
    color: rgb(128, 128, 128); 
}

/*------------footer for map----------*/



/*---------------------*/
@media(min-width: 768px){
    /*change grids in here for larger screens later*/
}